.half-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.first-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 2em;
  width: 45ch;
}

.first-text > *,
.second-info > * {
  margin-bottom: 0.2em;
  margin-top: 0.5em;
}

.first-svg > svg,
.second-svg > svg {
  width: 300px;
  padding-bottom: 0;
}

.second-headers {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.second-info {
  width: 45ch;
}

.second-text {
  width: calc(45ch + 320px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-info > ul > li {
  line-height: 2em;
}

.half-wrapper > .w-100,
.half-wrapper > .w-100 > .divider {
  display: none;
}

@media screen and (max-width: 1280px) {
  .half-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .first-item {
    display: flex;
    flex-direction: row-reverse;
    width: calc(45ch + 320px);
    align-items: center;
    justify-content: center;
  }

  .first-svg > img {
    width: 100%;
  }
  .half-wrapper > .w-100,
  .half-wrapper > .w-100 > .divider {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .first-item {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .second-item {
    align-items: center;
    justify-content: center;
  }

  .second-item > * {
    width: 100%;
    align-items: center;
  }

  .second-headers {
    flex-direction: column-reverse;
  }
}
