.navbar-desktop,
.navbar-mob {
  display: none !important;
}

.navbar-desktop {
  width: 100%;
  max-width: 90vw;
  height: 10vh;
  position: fixed;
  background-color: #f2f1eb;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
}

.navbar-mob {
  display: none;
  width: 100%;
  max-width: 90vw;
  height: 10vh;
  position: fixed;
  background-color: #f2f1eb;
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
}

@media only screen and (max-width: 500px) {
  .navbar-mob {
    display: flex;
  }
  .navbar-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .navbar-desktop {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 5vh;
    width: 90%;
    padding-top: 1.5em;
  }
  .dev-link-icon {
    width: 2.5em;
  }

  .App-header {
    position: static;
  }
}

.navTitle {
  color: #c5cbe3;
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.navTitle-active {
  color: #f23c1f;
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
