.App {
  text-align: center;
  color: white;
  background-color: #000000;
  width: 90%;
  max-width: 1400px !important;
  margin: 0 auto;
}

.Welcome-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .Welcome-page {
    justify-content: space-evenly;
  }
}

.space-evenly {
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.App-header {
  display: flex;
}

.dev-link-icon {
  width: 4em;
}

.Welcome-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  max-width: 45ch;
  text-align: left;
}

.Welcome-text > * {
  margin: 0;
}

.Welcome-text > h1 {
  font-size: 3em;
}

.logo-link {
  display: block;
  margin-left: 0.2em;
  padding: 0;
}

.section-box {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  min-height: fit-content;
  margin-bottom: 20vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col > * {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  flex-wrap: wrap;
}

.flex-row-rev > * {
  text-align: right;
}

.w-100 {
  width: 100%;
  display: flex;
  align-items: center;
}
.divider {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.loc-icon,
.uni-icon {
  width: 15vmin;
}

.email-icon {
  width: 20vmin;
}

.centered {
  justify-content: center;
  align-items: center;
}

.h-75 {
  height: 75vh;
}

.item-container {
  height: auto;
  position: relative;
  margin-bottom: 3em;
  min-height: fit-content;
}

#tech-head {
  width: 50vmin;
  height: auto;
}

@media only screen and (max-width: 900px) {
  #tech-head {
    margin: 0 auto;
  }
}

#uni-icon {
  width: 30vmin;
  height: auto;
}

@media only screen and (max-width: 900px) {
  #uni-icon {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) {
  .project-repo-link {
    margin-right: 1em;
    margin-left: 1em;
  }
}

.row-center {
  align-items: center;
  margin-top: 1em;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-45ch {
  width: 45ch;
}

.job-icons {
  width: 40vmin;
}

.bjj-icon {
  width: 60vmin;
}

.acebook-preview {
  width: 60vmin;
}

.instaclone-preview {
  width: 25vmin;
}

.summary-preview {
  width: 65vmin;
}

.classnotes-preview {
  width: 60vmin;
}

.chitter-preview {
  width: 60vmin;
}

.makersbnb-preview {
  width: 65vmin;
}

.project-titles > * {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

@media only screen and (max-width: 600px) {
  .chitter-preview,
  .summary-preview,
  .classnotes-preview,
  .acebook-preview,
  .makersbnb-preview {
    width: 100%;
  }
}

.mt-3 {
  margin-top: 3em;
}

p {
  line-height: 1.5em;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media only screen and (max-width: 700px) {
  .item-wrapper {
    flex-direction: column;
  }
}

.item-text {
  width: 35ch;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.item-text > * {
  margin: 0.5em;
  margin-left: 0;
}

.item-image {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .item-image {
    width: 60%;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .item-image {
    width: 90%;
  }
}

.item-wrapper-rev {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media only screen and (max-width: 700px) {
  .item-wrapper-rev {
    flex-direction: column;
  }
}

.item-wrapper-rev > .item-text {
  align-items: right;
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .item-wrapper-rev > .item-text {
    align-items: left;
    text-align: left;
  }
}

.item-wrapper-rev > .item-text > * {
  margin-right: 0;
}

@media only screen and (max-width: 700px) {
  .item-wrapper-rev > .item-text > * {
    margin-left: 0;
  }
}

.svg {
  padding: 1em;
}

.svg-fill {
  fill: #c5cbe3;
}

.svg-stroke {
  stroke: #4057a1;
  fill: #e9ebf3;
}

.flex-col-rev {
  display: flex;
  flex-direction: column;
}

.item-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-repo-link {
  margin-top: 2em;
  width: 15vmin;
  fill: #042a63;
}

.insta-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media only screen and (max-width: 700px) {
  .insta-wrapper {
    flex-direction: column;
  }
  .jump-to-button {
    display: none !important;
  }
}
.insta-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .insta-col {
    width: 100%;
  }
}

h1.project-h1 {
  margin-top: 0;
}

@media only screen and (max-width: 700px) {
  .Welcome-text > h4 {
    width: 80%;
  }
  .Welcome-text > h1 {
    font-size: 3.5em;
    line-height: 1em;
  }
  .dev-link-icon {
    font-size: 1.1em;
  }
  .Welcome-text > * {
    margin-top: 15px;
  }
}

#Contact {
  height: 100vh;
}

.navbar-desktop {
  width: 100%;
  max-width: 90vw;
  height: 10vh;
  position: fixed;
  background-color: #f2f1eb;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
}

.navbar-mob {
  display: none;
  width: 100%;
  max-width: 90vw;
  height: 10vh;
  position: fixed;
  background-color: #f2f1eb;
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
}

@media only screen and (max-width: 500px) {
  .navbar-mob {
    display: flex;
  }
  .navbar-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .navbar-desktop {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 5vh;
    width: 90%;
    padding-top: 1.5em;
  }
  .dev-link-icon {
    width: 2.5em;
  }

  .App-header {
    position: static;
  }
}

.navTitle {
  color: #c5cbe3;
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.navTitle-active {
  color: #f23c1f;
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.anchor {
  font-family: 'Biotif-Bold';
  font-size: 1em;
  text-decoration: none;
  text-decoration-color: #f23c1f;
}

.anchor:hover {
  text-decoration: underline;
  text-decoration-color: #f23c1f;
}

.text-darker {
  font-weight: bold;
}

@media screen and (min-width: 1100px) {
  /* FULL SCREEN LAPTOP */
  /* NEEDS MAX WIDTH OF 1300ish for bigger monitors */
}

@media screen and (min-width: 800px) {
  /* MEDIUM, HALF LAPTOP*/
}

@media screen and (min-width: 500px) {
  /* SMALL, SMART PHONE */
}
