.App {
  text-align: center;
  color: white;
  background-color: #000000;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1300px !important;
  margin: 0 auto;
}

.Welcome-page {
  height: 100vh;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.App-header {
  position: absolute;
  top: 3vh;
  right: 8vw;
  display: flex;
}

.dev-link-icon {
  width: 4em;
}

#App-logo {
  transform: rotate(100deg);
  height: 50vmin;
  position: absolute;
  top: 30vh;
  left: -15vw;
  pointer-events: none;
}

.Welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  max-width: 12ch;
  color: white;
  position: absolute;
  margin: 0 auto;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, 50%);
}

.Welcome-text > * {
  margin: 0;
}

.Welcome-text > h1 {
  font-size: 3em;
}

.logo-link {
  display: block;
  margin-left: 0.2em;
  padding: 0;
}

.logo-link:hover {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.White-line {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  padding: 0;
  display: block;
}

.anchor-box {
  position: absolute;
  width: 16ch;
  bottom: 10vh;
  right: 12vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 800px) {
  .anchor-box {
    right: 22vw;
  }
}

.anchor-container {
  text-align: left;
  width: auto;
}

.anchor {
  font-family: 'Biotif-Bold';
  color: white;
  font-size: 2em;
  text-decoration: none;
}

@keyframes name-of-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-box {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  min-height: 100vh;
}

.sticky-thc {
  top: 0;
  position: sticky;
  padding-top: 0.5em;
  z-index: 5;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col > * {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.w-90 {
  width: 90%;
}

.Plus-line {
  margin: 0 auto;
  width: 35vmin;
}

.edu-icons {
  position: absolute;
  right: 10vw;
}

.loc-icon,
.uni-icon {
  width: 15vmin;
}

.email-icon {
  width: 20vmin;
}

.centered {
  justify-content: center;
  align-items: center;
}

.h-75 {
  height: 75vh;
}

.item-container {
  height: 90vh;
  position: relative;
}

#tech-head {
  width: 60vmin;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  #tech-head {
    width: 60vmin;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
