.App {
  text-align: center;
  background-color: #000000;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  position: absolute;
  top: 10vh;
  right: 5vw;
}

.Arthur-plant {
  min-height: 100vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
}

.App-link {
  color: #61dafb;
}

.Dev-icon {
  height: 8vmin;
  margin: 1vmin;
}

.Welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 12ch;
}

.Welcome-text > * {
  margin: 0;
}
