.App {
  text-align: center;
  color: white;
  background-color: #000000;
  width: 90%;
  max-width: 1000px !important;
  margin: 0 auto;
}

.Welcome-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .Welcome-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.space-evenly {
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.App-header {
  display: flex;
}

.dev-link-icon {
  width: 4em;
}

.Welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  max-width: 12ch;
}

.Welcome-text > * {
  margin: 0;
}

.Welcome-text > h1 {
  font-size: 3em;
}

.logo-link {
  display: block;
  margin-left: 0.2em;
  padding: 0;
}

.anchor-box {
  width: 16ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.anchor-container {
  text-align: left;
  width: auto;
}

.anchor {
  font-family: 'Biotif-Bold';
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #f23c1f;
}

.anchor {
  position: relative;
  text-decoration: none;
  padding-bottom: 1px;
}

.anchor:before,
.anchor:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f37272;
}
.anchor:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.anchor:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.anchor:hover:before,
.anchor:focus:before,
.anchor:hover:after,
.anchor:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.anchor:hover:before,
.anchor:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.anchor:hover:after,
.anchor:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

@keyframes name-of-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-box {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  min-height: fit-content;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.project-title-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row-rev > .project-title-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .project-title-link {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
  }
}

.flex-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-col > *,
.flex-col-right > * {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  flex-wrap: wrap;
}

.flex-row-rev-summary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  flex-wrap: wrap;
}

.flex-row-rev-summary > .project-title-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 600px) {
  .flex-row-rev-summary > .project-title-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}

.flex-row-rev > * {
  text-align: right;
}

.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
  display: flex;
  align-items: center;
}
.divider {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.edu-icons {
  position: absolute;
  right: 10vw;
}

.loc-icon,
.uni-icon {
  width: 15vmin;
}

.email-icon {
  width: 20vmin;
}

.centered {
  justify-content: center;
  align-items: center;
}

.h-75 {
  height: 75vh;
}

.item-container {
  height: auto;
  position: relative;
  margin-bottom: 3em;
  min-height: fit-content;
}

#tech-head {
  width: 50vmin;
  height: auto;
}

@media only screen and (max-width: 900px) {
  #tech-head {
    margin: 0 auto;
  }
}

#uni-icon {
  width: 30vmin;
  height: auto;
}

@media only screen and (max-width: 900px) {
  #uni-icon {
    margin: 0 auto;
  }
}

.project-repo-link {
  width: 15vmin;
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .project-repo-link {
    margin-right: 1em;
    margin-left: 1em;
  }
}

.row-center {
  align-items: center;
  margin-top: 1em;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-45ch {
  width: 45ch;
}

.job-icons {
  width: 40vmin;
}

.bjj-icon {
  width: 60vmin;
}

.acebook-preview {
  width: 60vmin;
}

.instaclone-preview {
  width: 25vmin;
}

.summary-preview {
  width: 65vmin;
}

.classnotes-preview {
  width: 60vmin;
}

.chitter-preview {
  width: 60vmin;
}

.project-titles > * {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

@media only screen and (max-width: 600px) {
  .chitter-preview,
  .summary-preview,
  .classnotes-preview,
  .acebook-preview {
    width: 100%;
  }
}

.mt-3 {
  margin-top: 3em;
}

p {
  line-height: 1.5em;
}

.project-description {
  width: 60ch;
  text-align: left;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 700px) {
  .item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.item-text {
  width: 45ch;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.item-text > * {
  margin: 0.5em;
  margin-left: 0;
}

.item-image {
  width: calc(100% - 45ch);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-wrapper-rev {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

.item-wrapper-rev > .item-text {
  align-items: right;
  text-align: right;
}

.item-wrapper-rev > .item-text > * {
  margin-right: 0;
}

@media only screen and (max-width: 700px) {
  .item-wrapper-rev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .item-wrapper-rev > .item-text {
    align-items: left;
    text-align: left;
  }

  .item-wrapper-rev > .item-text > * {
    margin-left: 0;
  }

  .item-image {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.svg {
  padding: 1em;
}

.svg-fill {
  fill: #c5cbe3;
}

.svg-stroke {
  stroke: #4057a1;
  fill: #e9ebf3;
}
