@font-face {
  font-family: 'Biotif-Black';
  src: local('Biotif-Black'), url('./fonts/Biotif/Biotif-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Biotif-Bold';
  src: local('Biotif-Bold'), url('./fonts/Biotif/Biotif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Biotif-Book';
  src: local('Biotif-Book'), url('./fonts/Biotif/Biotif-Book.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: '-apple-system, BlinkMacSystemFont, ' Segoe UI ', ' Roboto ', ' Oxygen ', ' Ubuntu ', ' Cantarell ', ' Fira Sans ', ' Droid Sans ', '
    Helvetica Neue ',' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bio-black {
  font-family: 'Biotif-Black';
}

.bio-bold {
  font-family: 'Biotif-Bold';
}

.bio-book {
  font-family: 'Biotif-Book';
}
