html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  width: 100vw;
  overflow-x: hidden !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Biotif-Black';
  src: local('Biotif-Black'), url('./fonts/Biotif/Biotif-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Biotif-Bold';
  src: local('Biotif-Bold'), url('./fonts/Biotif/Biotif-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Biotif-Book';
  src: local('Biotif-Book'), url('./fonts/Biotif/Biotif-Book.ttf') format('truetype');
}

h1,
h2,
th {
  font-family: 'Biotif-Black';
}

h3,
h4,
h5 {
  font-family: 'Biotif-Bold';
}

h6,
p,
li,
a {
  font-family: 'Biotif-Book';
}
